.direction {
   display: none;
}

@media screen and (min-width: 1200px){
   .direction {
      padding-top: 0px;
   }
   .direction-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
   }
   .direction-list__item {
      width: calc( (100% / 3) - 30px);
      margin-left: 30px;
      margin-top: 30px;
      position: relative;
      img {
         display: block;
         height: auto;
         max-width: 100%;
      }
   }
   .direction-list__title {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 27px 10px;
      background: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--third-color-text);
   }
}

