:root {
   --main-color-text: #212121;
   --second-color-text: #757575;
   --third-color-text: #FFFFFF;
   --accent-color-text:  #2196F3;
   --fourth-color-text: rgba(255, 255, 255, 0.6);
   --five-color-text: #AFB1B8;

   --main-btn: #F5F4FA;
   --accent-btn: #2196F3;

   --main-border: #AFB1B8;
   --accent-border: #2196F3;

   --social-link-bg: rgba(255, 255, 255, 0.1);
   --social-link-accent: #2196F3;
}